/*reset inicial*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0c0f26;
  color: white;
  line-height: 1.6;
}

/*Barra de navegacion*/
header {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 40px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  }

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
    padding: 10px 15px;
    display: block;
    border: 2px solid transparent;
    transition: 0.3s;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.menu li a:hover {
    background-color: white;
    border: 2px solid rgb(27, 21, 131);
    border-radius: 20px;
    color: black;
    padding: 10px;
}

.menu-btn {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
}

/*HERO*/
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
}

.hero h1 {
  font-size: 50px;
  animation: fadeIn 2s;
}

.hero p {
  font-size: 20px;
  margin-top: 10px;
  animation: fadeIn 3s;
}

/*Animaciones de entrada*/
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}

/* fondo de constelacion*/
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

/*contenido*/
section {
  padding: 100px 20px;
}

/*formulario de registro*/
form {
  background: rgba(255,255,255,0.1);
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  margin: auto;
}

form input, form textarea, form button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

form button {
  background: #6cc6ff;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background: #449ed1;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background: black;
    padding: 10px;
  }

  .menu-btn {
    display: block;
  }
}
.planetas-home {
  padding: 70px 20px;
  text-align: center;
}

.planetas-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.planeta {
  text-align: center;
}

.planeta img {
  width: 120px;
  animation: girar 10s linear infinite;
}

@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.grid-plan-info {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjeta-planeta {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  width: 260px;
  text-align: center;
  border-radius: 12px;
  transition: .3s;
}

.tarjeta-planeta:hover {
  transform: scale(1.06);
}

.tarjeta-planeta img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.3);
   box-shadow: 0 0 15px rgba(0,150,255,0.5);
   animation: girar 50s linear infinite;
}

.footer {
    background: #0a0a0a;
    padding: 25px 20px;
    text-align: center;
    color: #ccc;
    margin-top: 40px;
}

.footer .creditos {
    font-size: 1rem;
    margin-bottom: 5px;
}

.footer .disclaimer {
    font-size: 0.85rem;
    color: #888;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.4;
}

.planetas-header {
  padding-top: 120px;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.planetas-header h1 {
  font-size: 48px;
  text-shadow: 0 0 10px #6cc6ff;
}

.planetas-header p {
  font-size: 18px;
  opacity: 0.8;
}


/* cuadros de tarjetas de planetas.html */
.grid-planetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.card-planeta {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.1);
}

.card-planeta:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px #4ecbff7e;
}

.card-planeta img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}


/* comparacion de tamaños de planetas.html*/
.comparacion {
  margin-top: 60px;
  text-align: center;
  padding: 40px;
}

.comparacion h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.tamano-planetas {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.t {
  width: var(--s);
  height: var(--s);
  border-radius: 50%;
  background: #4ecbff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #000;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 10px #6cc6ff;
}
.galeria-section {
  text-align: center;
  padding: 40px 20px;
  color: white;
}

.galeria-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.galeria-img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.galeria-img:hover {
  transform: scale(1.05);
}

/* Margen de las imagenes brillante de galeria.html*/
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
  z-index: 9999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(255,255,255,0.4);
}

/*Animacion al tocar alguna imagen de galeria.html*/
@keyframes zoomInSoft {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.lightbox img {
  animation: zoomInSoft 0.35s ease-out;
}
